@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Arvo:wght@400;700&display=swap");

* {
  background-color: #002741;
  color: #f8f1ff;
  box-sizing: border-box;
  margin: 0;
}
.body {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  margin-top: 2rem;
}

.actions {
  margin: 5rem;
}
